header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 3rem;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

header a {
    font-size: 1.5rem;
    padding: 1rem;
}