.header-bar {
  display: flex;
  justify-content: center;
  /* width: 95%; */
  padding: 0.5rem 1rem;
  background-color: #4f8cff;
}

.header-inner {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "logo center toggle"
    ". . menu";
  align-items: center;
  gap: 1rem;
}

.nav-links {
  display: none;
}

.header-logo {
  grid-area: logo;
  font-size: 2rem;
}

.header-center {
  grid-area: center;
}

.header-toggle {
  grid-area: toggle;
  justify-self: end;
}

.header-menu {
  grid-area: menu;
  background-color: #4f8cff;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-menu li {
  margin: 0.5rem 1rem;
}

.navLink {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #ffcc00;
}

.navLink.active {
  border-bottom: 2px solid #ffcc00;
  color: #ffcc00;
}

@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: center;
  }

  .header-toggle {
    display: none;
  }

  .header-logo {
    padding: 0;
    margin: 0;
  }

  .nav-links {
    display: flex;
    gap: 2rem;
    grid-area: toggle;
    justify-self: end;
    align-items: center;
  }
}
