.hero-slide {
  height: 500px; /* reduce default mobile height */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-overlay {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0), black);
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.slide-content {
  color: white;
  text-align: left;
  max-width: 800px;
  padding: 0.75rem;
  z-index: 1;
  position: relative;
  top: 130px;
}

.slide-content h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.slide-content p {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .slide-content {
    padding-left: 3rem;
    top: 120px;
  }

  .slide-content h1 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
  }

  .slide-content p {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .slide-content {
    padding-left: 3rem;
    top: 100px;
  }

  .slide-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
  }

  .slide-content p {
    font-size: 1.25rem;
  }
}

@media (min-width: 1440px) {
  .slider-content {
    top: 50px;
  }
}
