.movie-card {
    position: relative;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 3px 5px 16px 4px rgba(0, 0, 0, 0.37);
}

.movie-card .poster {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.movie-card .backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    opacity: 0;
    transition: opacity 0.35s ease;
}

.movie-card .backdrop:hover {
    opacity: 1;
}

.backdrop {
    overflow: hidden;
}