.movie-card {
    position: relative;
    width: 125px;
    height: 225px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.movie-card .poster {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.movie-card .backdrop {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  padding: 0.75rem;
  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  z-index: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.3rem;
  box-sizing: border-box;
  opacity: 0;
}


.movie-card h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  line-height: 1.1;
}

.movie-card h3 {
  font-size: .9rem;
  font-weight: 400;
  margin: 0;
  opacity: 0.85;
}

.movie-card .rating-row {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.6rem;
  opacity: 0.9;
}

.movie-card .summary {
  font-size: .9rem;
  line-height: 1.2;
  color: #ddd;
  margin-top: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


.movie-card .backdrop:hover {
    opacity: 1;
}

.backdrop {
    overflow: hidden;
}

.summary {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@media (min-width: 1024px) {
    .movie-card {
        width: 170px;
        height: 270px;
    }
}