.backdrop-container {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  background-color: #111;
  margin: 0.1rem;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.credit-card {
  display: block;
  /* padding: 0.5rem; */
  object-fit: cover;
  max-width: 100px;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 119, 255, 0));
}

.credit-card img {
  border-radius: 5%;
  box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.226);
}

.credit-card .name {
  font-weight: bold;
  margin-top: 0.5rem;
  font-size: 0.85rem;
}

.credit-card .role {
  font-size: 0.75rem;
  color: #ccc;
}

.castSlider .slick-slide {
  /* margin: 0 4px; */
  max-width: 100px;
  margin: 0 8px;
}
