.backdrop-container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    background-color: #111;
    margin: .1rem;
}

.backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.credit-card {
  padding: 0.5rem;
  text-align: center;
  color: #fff;
}

.credit-card img {
  width: 100px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin: 0 auto;
}

.credit-card .name {
  font-weight: bold;
  margin-top: 0.5rem;
  font-size: 0.85rem;
}

.credit-card .role {
  font-size: 0.75rem;
  color: #ccc;
}
