.movie-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(342px, 1fr));
  padding: 8px;
}

main {
  width: 100%;
  max-width: 67.5rem;
  margin: 0 auto;
  box-sizing: border-box;
}

main h2 {
  padding: 0.25rem 1rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.45);
}

.slider-section {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 100%;
  max-width: 1080px;
  margin-bottom: 3rem;
}

.slick-slider {
  overflow: hidden;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem 1rem;
}

.slick-list {
  box-sizing: border-box;
}

.slick-slide > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slick-prev,
.slick-next {
  display: block;
  z-index: 5;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 95%;
  transform: translate(0, -50%);
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  margin: 0 0.25rem;
}

.slick-prev {
  left: 0.25rem;
}

.slick-next {
  right: 0.25rem;
}

.slick-prev:before,
.slick-next:before {
  font-size: 24px;
  color: white;
  opacity: 1;
}

.slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 80%;
  width: 100%;
  padding: 0rem 0;
  display: flex !important;
  justify-content: center;
  gap: 0.25rem;
  box-sizing: border-box;
  overflow: hidden;
}

.slick-dots li button:before {
  font-size: 12px;
  color: white;
  opacity: 0.75;
}

.slick-dots li.slick-active button:before {
  color: #00ffff;
  opacity: 1;
}
